body {
  font-family: "Rubik-Regular", sans-serif;
  font-weight: 400;
}

.header__inner {
  font-family: "Rubik-Medium", sans-serif;
  font-weight: 500;
}

.footer-top__form, .user-nav__num {
  font-family: "DMSans-Regular", sans-serif;
  font-weight: 400;
}

.footer-top__title {
  font-family: "DMSans-Bold", sans-serif;
  font-weight: 700;
}

/* 7b7b7b 436372 585858 8b8b8b 243f4d */
@font-face {
  font-family: "Rubik-Regular", sans-serif;
  font-weight: 400;
  font-style: normal;
  src: local("Rubik-Regular"), url("../fonts/Rubik-Regular.woff2") format("woff2"), url("../fonts/Rubik-Regular.woff") format("woff");
  font-display: swap;
}
@font-face {
  font-family: "Rubik-Medium", sans-serif;
  font-weight: 500;
  font-style: normal;
  src: local("Rubik-Medium"), url("../fonts/Rubik-Medium.woff2") format("woff2"), url("../fonts/Rubik-Medium.woff") format("woff");
  font-display: swap;
}
@font-face {
  font-family: "DMSans-Regular", sans-serif;
  font-weight: 400;
  font-style: normal;
  src: local("DMSans-Regular"), url("../fonts/DMSans-Regular.woff2") format("woff2"), url("../fonts/DMSans-Regular.woff") format("woff");
  font-display: swap;
}
@font-face {
  font-family: "DMSans-Medium", sans-serif;
  font-weight: 500;
  font-style: normal;
  src: local("DMSans-Medium"), url("../fonts/DMSans-Medium.woff2") format("woff2"), url("../fonts/DMSans-Medium.woff") format("woff");
  font-display: swap;
}
@font-face {
  font-family: "DMSans-Bold", sans-serif;
  font-weight: 700;
  font-style: normal;
  src: local("DMSans-Bold"), url("../fonts/DMSans-Bold.woff2") format("woff2"), url("../fonts/DMSans-Bold.woff") format("woff");
  font-display: swap;
}
@font-face {
  font-family: "Poppins-Bold", sans-serif;
  font-weight: 700;
  font-style: normal;
  src: local("Poppins-Bold"), url("../fonts/Poppins-Bold.woff2") format("woff2"), url("../fonts/Poppins-Bold.woff") format("woff");
  font-display: swap;
}
html {
  box-sizing: border-box;
}

*,
*::after,
*::before {
  box-sizing: inherit;
}

ul[class],
ol[class] {
  padding: 0;
}

body,
h1,
h2,
h3,
h4,
h5,
h6,
p,
ul,
ol,
li,
figure,
figcaption,
blockquote,
dl,
dd {
  margin: 0;
}

ul[class] {
  list-style: none;
}

img {
  max-width: 100%;
  display: block;
}

input,
button,
textarea,
select {
  font: inherit;
}

a {
  text-decoration: none;
}

html,
body {
  height: 100%;
}

body {
  font-size: 14px;
  line-height: 1;
  color: #7b7b7b;
  display: flex;
  flex-direction: column;
}

.main {
  flex-grow: 1;
}

.container {
  max-width: 1830px;
  margin: 0 auto;
  padding: 0 30px;
}

a {
  color: #7b7b7b;
}

.footer-top,
.footer-bottom {
  max-width: 1170px;
  margin: 0 auto;
  display: flex;
  justify-content: space-between;
}

.header {
  padding: 45px 0;
}
.header__inner {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.logo {
  display: flex;
}
.logo__text {
  font-size: 38px;
  line-height: 38px;
  padding-left: 14px;
  color: #436372;
}

.menu__list {
  display: flex;
}
.menu__list-item + .menu__list-item {
  padding-left: 32px;
}
.menu__list-link {
  color: #436372;
  font-size: 15px;
  line-height: 12px;
}

.user-nav {
  display: flex;
}
.user-nav__serch, .user-nav__favcart, .user-nav__user {
  display: flex;
  justify-content: center;
  align-items: center;
}
.user-nav__serch {
  width: 51px;
  height: 51px;
  background-color: #edf1f4;
  border-radius: 50%;
}
.user-nav__favcart {
  width: 178px;
  height: 51px;
  background-color: #fcd7b6;
  border-radius: 50px;
  margin-left: 21px;
  margin-right: 18px;
}
.user-nav__user {
  width: 51px;
  height: 51px;
  background-color: #a3bbc8;
  border-radius: 50%;
}
.user-nav__link {
  position: relative;
}
.user-nav__num {
  position: absolute;
  width: 16px;
  height: 16px;
  top: -8px;
  right: -9px;
  border-radius: 50%;
  text-align: center;
  background-color: #fff;
  font-size: 10px;
  line-height: 16px;
  color: #243f4d;
}
.user-nav__slasch {
  height: 32px;
  border: 1px solid #fde7d3;
  margin-left: 32px;
  margin-right: 27px;
}

.footer-top {
  padding: 80px 0 56px;
  border-bottom: 1px solid #dae4e9;
}
.footer-top__contact {
  width: 200px;
  margin-right: 100px;
}
.footer-top__nav {
  width: 170px;
  margin-right: 130px;
}
.footer-top__item-form {
  width: 270px;
}
.footer-top__logo {
  margin-bottom: 28px;
}
.footer-top__adress, .footer-top__email, .footer-top__phone {
  margin-bottom: 16px;
  display: block;
  line-height: 24px;
}
.footer-top__title {
  font-size: 16px;
  color: #1f2044;
  text-transform: uppercase;
  margin: 18px 0 28px;
  line-height: 1;
}
.footer-top__link {
  display: block;
  margin-bottom: 8px;
  line-height: 24px;
}
.footer-top__text {
  line-height: 24px;
  margin-bottom: 40px;
}
.footer-top__form {
  display: flex;
  justify-content: center;
}
.footer-top__form-input {
  background-color: #fef7f0;
  max-width: 168px;
  width: 100%;
  border: 1px solid #fef7f0;
  padding: 10px 12px;
}
.footer-top__form-input::-moz-placeholder {
  color: #234969;
  font-size: 12px;
  line-height: 12px;
}
.footer-top__form-input::placeholder {
  color: #234969;
  font-size: 12px;
  line-height: 12px;
}
.footer-top__form-btn {
  border: none;
  background-color: #a3bbc8;
  color: #fff;
  font-size: 14px;
  padding: 0 15px;
}

.footer-top span {
  text-transform: uppercase;
}

.footer-bottom__copy, .footer-bottom__nav {
  height: 90px;
  align-items: center;
  display: flex;
}
.footer-bottom__nav-list {
  display: flex;
}
.footer-bottom__nav-item {
  padding-left: 15px;
  padding-right: 15px;
  border-left: 1px solid #7b7b7b;
}
.footer-bottom__nav-link {
  line-height: 1;
}

.footer-bottom__nav-item:first-child {
  padding-left: 0;
  border: none;
}

.footer-bottom__nav-item:last-child {
  padding-right: 0;
}/*# sourceMappingURL=style.css.map */