@import 'vars';
@import 'fonts';
@import 'reset';
@import 'global';

.header {
  padding: 45px 0;

  &__inner {
    display: flex;
    justify-content: space-between;
    align-items: center;
    @extend %rubik-500;
  }
}

.logo {
  display: flex;

  &__text {
    font-size: 38px;
    padding-left: 14px;
    color: $top;
  }
}

.menu {
  &__list {
    display: flex;
  }

  &__list-item+.menu__list-item {
    padding-left: 32px;
  }

  &__list-link {
    color: $top;
    font-size: 15px;
    line-height: 12px;
  }
}

.user-nav {
  display: flex;

  &__serch,
  &__favcart,
  &__user {
    display: flex;
    justify-content: center;
    align-items: center;
  }

  &__serch {
    width: 51px;
    height: 51px;
    background-color: #edf1f4;
    border-radius: 50%;
  }

  &__favcart {
    width: 178px;
    height: 51px;
    background-color: #fcd7b6;
    border-radius: 50px;
    margin-left: 21px;
    margin-right: 18px;
  }

  &__user {
    width: 51px;
    height: 51px;
    background-color: #a3bbc8;
    border-radius: 50%;
  }

  &__link {
    position: relative;
  }

  &__num {
    position: absolute;
    width: 16px;
    height: 16px;
    top: -8px;
    right: -9px;
    border-radius: 50%;
    text-align: center;
    background-color: #fff;
    @extend %dmsans-400;
    font-size: 10px;
    line-height: 16px;
    color: #243f4d;
  }

  &__slasch {
    height: 32px;
    border: 1px solid #fde7d3;
    margin-left: 32px;
    margin-right: 27px;
  }
}




@import 'media';